<?xml version='1.0' encoding='UTF-8'?>
<jenkins.model.JenkinsLocationConfiguration>
    <adminAddress>{{ solita_admin_email }}</adminAddress>
    <jenkinsUrl>{{ solita_jenkins_url }}</jenkinsUrl>
</jenkins.model.JenkinsLocationConfiguration>
